@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html, body {
    height: 100%;
    width: 100%;
}

.background-wallpaper {
    background-image: url("/assets/layered-peaks-wallpaper.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-container {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: calc(100% - 250px);
}

.MuiDataGrid-toolbarContainer {
    padding: 0 1.25rem 0 1.25rem !important;
    button {
        background: #ff1654;
        color: #fff;
        min-height: 40px;
        width: 130px;

        &:hover {
            background: #ab153d;
            color: #fff;
        }
    }
}