@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html, body {
    height: 100%;
    width: 100%;
}

.background-wallpaper {
    background-image: url("/assets/layered-peaks-wallpaper.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-container {
    box-sizing: content-box;
    width: 100%;
    max-width: calc(100% - 250px);
}